.gallery {
    list-style: none;
    margin: 0;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}